{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
<title>修改密码</title>
{% endblock %}

{% block content %}
    <br><br>
    <div class="row h-100 page-header justify-content-center align-items-center">
        <h1>修改密码</h1>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-body">
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}